// Grid
$container: 860px;

$susy: (
    columns: 12,
    container: $container,
    global-box-sizing: border-box,
    use-custom: (
        box-sizing: false
    ),
);

// Break Points
$break-small: 380px; // Mobile Devices such as phones
$break-medium: 868px; // Small Screen Devices
$break-big: $container; // Large Screen Devices

// UI Colors
$primary-color: #3683BB; // Blue
$black: #4B4B4B;
$light-black: #797979;
$grey: #D6D6D6;
$light-grey: #F6F6F6;

// Spacing
$spacing: 8.5rem;

// Fonts
$font-family: 'Libre Baskerville', serif; // Default body font
$heading-family: 'Oswald', sans-serif;; // Default heading font
$nav-family: 'Droid Sans', sans-serif;
$button-family: $nav-family;
$form-font: inherit; // Default form font

$font-color: lighten($black, 10);
$heading-color: $black;
$heading-font-weight: 400;


// Links
$link-color: $primary-color; // Link color
$link-hover: darken($link-color, 10); // Link color on hover
$link-decoration: none; // Link decoration


// Navigation
$nav-link: #ffffff;
$nav-hover-link: #a0a0a0;
$nav-bg: #242424;
$nav-menu-bg: #242424; //rgba(0, 0, 0, 0.85);
$nav-height: 50px;
$nav-desktop-height: 80px;