%clearfix
	@include clearfix


.pull-left
	float: left !important
.pull-right
	float: right !important 


@media screen and (max-width: $break-medium)
	.hide-md
		display: none


/* ------------------------------------
    Grid
 ------------------------------------*/

.wrap
	max-width: 85%
	margin: 0 auto
	@extend %clearfix

	@media (min-width: $break-medium)
		@include container