// Variables
$nav-bg: rgba(0, 0, 0, 0.9)
$nav-menu-bg: rgba(0, 0, 0, 0.85)

$nav-height: 50px
$nav-desktop-height: 80px



.header
    background: $nav-bg
    height: $nav-height
    left: 0
    position: fixed
    top: 0
    width: 100%
    z-index: 3

    /* Force Hardware Acceleration */
    @include transform(translateZ(0))
    @include backface-visibility(hidden)

    @include transition(transform .3s)

    &::before
        display: none
        content: 'mobile'

    &.is-visible
        @include transform(translateX(-260px))


    @media screen and (min-width: $break-medium)
        height: $nav-desktop-height
        position: absolute
        background: none

        &::before
            content: 'desktop'

        &.is-visible
            //@include transform(translateX(0))

            /* if the user changes the scrolling direction, we show the header */
            @include transform(translate3d(0,100%,0))

        &.is-fixed 
            /* when the user scrolls down, we hide the header right above the viewport */
            position: fixed
            top: -$nav-desktop-height
            background-color: rgba($nav-bg, .96)
            -webkit-transition: -webkit-transform 0.3s
            -moz-transition: -moz-transform 0.3s
            transition: transform 0.3s

.main-nav
    -webkit-overflow-scrolling: touch
    background: $nav-menu-bg
    height: 100vh
    list-style: none
    margin: 0
    overflow: auto
    padding: 0
    position: fixed
    right: 0
    top: 0
    visibility: hidden
    width: 260px
    z-index: 1

    a
        border-bottom: 1px solid #fff
        color: #fff
        display: block
        padding: 0.9em 2em 0.9em 1em

    &.is-visible
        visibility: visible
        -webkit-transition: visibility 0s 0s

    @media screen and (min-width: $break-medium)
        background: transparent
        height: $nav-desktop-height
        line-height: $nav-desktop-height
        padding: 0 5% 0 calc(5% + 124px)
        position: static
        text-align: right
        visibility: visible
        width: 100%

        li
            display: inline-block
            height: 100%
            padding: 0 .4em

            a
                border-bottom: none
                display: inline-block
                font-size: 1.7rem
                line-height: 1
                padding: .8em
                
                // Prevent .subnav-trigger flicker is Safari
                @include transform(translateZ(0))
                @include backface-visibility(hidden)
                
                @include transition(opacity .2s)


.nav-hamburger
    display: block
    position: absolute
    right: 0
    top: 0
    height: 100%
    width: 50px
    /*Hide Text */
    overflow: hidden
    white-space: nowrap
    color: transparent

    @media screen and (min-width: $break-medium)
        display: none

    span
        position: absolute
        height: 2px
        width: 20px
        top: 50%
        margin-top: -1px
        left: 50%
        margin-left: -10px
        background: #fff
        @include transition(background-color .3s .3s)

        &::before, &::after
            content: ''
            position: absolute
            width: 100%
            height: 100%
            background-color: #fff
            // Force Hardware Acceleration
            @include transform(translateZ(0))
            @include backface-visibility(hidden)
            
            @include transition(transform .3s .3s)

        &::before
            @include transform(translateY(-6px))

        &::after
            @include transform(translateY(6px))

    .is-visible & span
        background: rgba(255, 255, 255, 0)

        &::before
            @include transform(translateY(0) rotate(-45deg))

        &::after
            @include transform(translateY(0) rotate(45deg))



.main-content
    background: #fefefe
    min-height: 100vh
    position: relative
    z-index: 2
    @include transition(transform .3s)

    &::before
        content: 'mobile'
        display: none

    &.is-visible
        -webkit-transform: translateX(-260px)